<div class='panel panel-primary' *ngIf='product'>
    <div class='panel-heading'>
        {{pageTitle + ': ' + product.productName}}
    </div>
    <div class='panel-body'>
        <div class='row'>
          <div class='col-md-8'>
            <div class='row'>
              <div class='col-md-4'>Name:</div>
              <div class='col-md-8'>{{product.productName}}</div>
            </div>
            <div class='row'>
              <div class='col-md-4'>Code:</div>
              <div class='col-md-8'>{{product.productCode | lowercase}}</div>
            </div>
            <div class='row'>
              <div class='col-md-4'>Description:</div>
              <div class='col-md-8'>{{product.description}}</div>
            </div>
            <div class='row'>
              <div class='col-md-4'>Availability:</div>
              <div class='col-md-8'>{{product.releaseDate}}</div>
            </div>
            <div class='row'>
              <div class='col-md-4'>Price:</div>
              <div class='col-md-8'>{{product.price|currency:'ZAR':'symbol-narrow'}}</div>
            </div>
            <div class='row'>
              <div class='col-md-4'>5 Star Rating:</div>
              <div class='col-md-8'>
                <app-star [rating]='product.starRating'>
                </app-star>
              </div>
            </div>
          </div>
     
          <div class='col-md-4'>
            <img class='center-block img-responsive'
                 [style.width.px]='200'
                 [style.margin.px]='2'
                 [src]='product.imageUrl'
                 [title]='product.productName'>
          </div>
        </div>
      </div>
    
    <div class='panel-footer'>
        <a class='btn btn-default' [routerLink]="['/products']" style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>
    </div>
</div>
