<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class='panel-body'>
            <div class='row'>
                <div class='col-md-2'>Filter by:</div>
                <div class='col-md-4'>
                    <input type='text' [(ngModel)]="filterText" />
                </div>
            </div>
            <div class='row'>
                <div class='col-md-6'>
                    <h3>Filtered by:  {{filterText}}</h3>
                </div>
            </div>
            <div class='table-responsive'>
                <table class='table' *ngIf="products && products.length">
                    <thead>
                        <tr>
                            <th>
                                <button class='btn btn-primary' (click)="toggleImage();">
                                    {{showImage?'Hide':'Show'}} Image
                                </button>
                            </th>
                            <th>Product</th>
                            <th>Code</th>
                            <th>Available</th>
                            <th>Price</th>
                            <th>5 Star Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products|productFilter:filterText" >
                            <td>
                                <img *ngIf="showImage" [src]="product.imageUrl" [width]='imageWidth' [height]='imageHeight'>
                                    
                            </td>
                            <td><a [routerLink]="['/products', product.productId]" >{{product.productName | uppercase }}</a></td>
                            <td>{{product.productCode | productCodeFilter | lowercase}}</td>
                            <td>{{product.releaseDate|date}}</td>
                            <td>{{ product.price|currency:'ZAR':'symbol-narrow'}}</td>
                            <!-- <td>{{product.starRating|number}}</td> -->
                            <td>
                                <app-star [rating]="product.starRating" (ratingClicked)="onRatingClicked($event)"></app-star>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    
</div>
