<h3>Template-Driven Customer Form</h3>

<div class="container">
    <form novalidate #signUpForm="ngForm" (ngSubmit)="save(signUpForm)">
        <div class="row form-group">
            <label for="firstNameId" class="col-md-2">First Name</label>
            <input type="text" id="firstNameId" name="firstName" placeholder="first name" class="form-control col-md-5"
                required minlength="2" #firstNameVar="ngModel" [(ngModel)]="customer.fName">
        </div>

        <span style="color: red;" *ngIf="firstNameVar.touched && !firstNameVar.valid">
            Dont write crap
        </span>

        <div class="row form-group">
            <label for="lastNameId" class="col-md-2">Last Name</label>
            <input type="text" id="lastNameId" name="lastName" placeholder="last name" class="form-control col-md-5"
                required minlength="2" #lastNameVar="ngModel" [(ngModel)]="customer.lName">
        </div>

        <span style="color: red;" *ngIf="lastNameVar.touched && !lastNameVar.valid">
            Dont write crap
        </span>

        <div class="row form-group">
            <label for="EmailId" class="col-md-2">Email</label>
            <input type="email" id="EmailId" name="Email" placeholder="abc@xyz" class="form-control col-md-5" required
                minlength="2" #emailVar="ngModel" [(ngModel)]="customer.email">
        </div>

        <span style="color: red;" *ngIf="emailVar.touched && !emailVar.valid">
            Dont write crap
        </span>

        <div class="form-group">
            <div class="offset-md-2 col-md-4">
                <button type="submit" class="btn btn-primary"
                    [title]="signUpForm.valid? 'Save Customer' : 'Disabled until form is valid'"
                    [disabled]="!signUpForm.valid">
                    Save
                </button>
            </div>
        </div>
    </form>
</div>

<br> Dirty : {{signUpForm.dirty}}
<br> Touched : {{signUpForm.touched}}
<br> Valid : {{signUpForm.valid}}
<br> Value : {{signUpForm.value | json}}