<h3>Reactive Customer Form</h3>

<div class="container">
    <form novalidate (ngSubmit)="save()" [formGroup]="customerForm">
        <div class="row form-group">
            <label for="firstNameId" class="col-md-2">First Name</label>
            <input type="text" id="firstNameId" placeholder="first name" class="form-control col-md-5"
                required minlength="2" formControlName="fName">
        </div>

        <div class="row form-group">
            <label for="lastNameId" class="col-md-2">Last Name</label>
            <input type="text" id="lastNameId" name="lastName" placeholder="last name" class="form-control col-md-5"
                required minlength="2" formControlName="lName">
        </div>

        <div class="row form-group">
            <label for="EmailId" class="col-md-2">Email</label>
            <input type="email" id="EmailId" name="Email" placeholder="abc@xyz" class="form-control col-md-5" required
                minlength="2" formControlName="email">
        </div>

        <div class="form-group">
            <div class="offset-md-2 col-md-4">
                <button type="submit" class="btn btn-primary"
                    [title]="customerForm.valid? 'Save Customer' : 'Disabled until form is valid'"
                    [disabled]="!customerForm.valid">
                    Save
                </button>
            </div>
        </div>
    </form>
</div>

<br> Dirty : {{customerForm.dirty}}
<br> Touched : {{customerForm.touched}}
<br> Valid : {{customerForm.valid}}
<br> Value : {{customerForm.value | json}}